{% extends "layout.html" %}
{% block content %}
    <h1>Search</h1>
    <hr>
        <form method="POST" action="" enctype="multipart/form-data">
            <font size='10pt'>{{ form.hidden_tag() }}</font>
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.department_id.label(class="form-control-label") }}

                    {% if form.department_id.errors %}
                        {{ form.department_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.department_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.department_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.submit2(class="btn btn-outline-info") }}
            </div>

        </form>
{% endblock content %}
