{% extends "layout.html" %}
{% block content %}
    <h1>Subjects</h1>
    {% for subject in subjects.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2 style="font-size:20px"><a class="article-title" href="{{ url_for('view_subject_details', subject_title=subject.title) }}"><font color="d4d43f">{{ subject.average_rating }} </font>{{ subject.title }}</a></h2>
            <a class="article-content"><font color="green">Subject code:</font> {{ subject.code }}</a>
            <br>
            <a class="article-content"><font color="blue">Slot:</font> {{ subject.slot }}</a>
          </div>
        </article>
    {% endfor %}
    {% for page_num in subjects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if subjects.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('subjects', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('subjects', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

        <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
                    {{ form.sort.label(class="form-control-label") }}

                    {% if form.sort.errors %}
                        {{ form.sort(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sort.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sort(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                </div>
              </form>




{% endblock content %}


