{% extends "layout.html" %}
{% block content %}
<h2> Teachers </h2>
<hr>
    {% for teacher in teachers.items %}
        <article class="media content-section">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + teacher.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=teacher.username) }}">{{ teacher.username }}</a>
            </div>
            <h2><a class="article-title">{{ teacher.first_name }} {{ teacher.last_name }}</a></h2>
            <h4>Teacher</h4>
            <p class="article-content">{{ department_list[teacher.department_id-1] }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in teachers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if teachers.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('teachers', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('teachers', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
