{% extends "layout.html" %}
{% block content %}
    <img  style="float:right" class="img-rounded account-img" alt="Cinque Terre" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">

    <div class="content-heading">
    <h1 class="mb-3"> {{ user.username }} </h1>
    <h5> Name: {{ user.first_name }} {{ user.last_name }}</h5>
    {% if user.title == '1' %}
      <h5> Student </h5>
    {% elif user.title == '2' %}
      <h5> Teacher </h5>
    {% endif %}
    <h5> Department: {{ department_title }}</h5>
<h5>{{ user.followers.count() }} followers |
              {% if user.id == current_user.id %}
                  <a href="{{ url_for('account') }}">Edit your profile</a>
              {% elif not current_user.is_following(user) %}
                  <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
              {% else %}
                  <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
              {% endif %}
              </h5>
  </div>
<hr>
    <h4 class="mb-3">Posts ({{ posts.total }}):</h1>
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
